/* Página em desenvolvimento – em breve com mais elementos personalizados para refletir meu estilo */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* cor do fundo */
    font-family: "Gabarito", sans-serif;
    
}

body {
  background-color: #f4f4f4a9; /* Cor de fundo */
  margin: 0;
  font-family: "Gabarito", sans-serif;
}

/* Alinhamento do logo à direita */
.logo {
  text-align: end;
}

/* Tamanho do logo */
.logo img {
  width: 40%;
}

.conteudo-jogo {
  background: rgb(255, 255, 255);
  border: 2px solid rgba(201, 245, 237, 0.959); /* borda visível */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* sombra mais visível */
  margin: 110px;
  padding: 100px;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  transition: background 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  border-radius: 10px; /* bordas arredondadas */
} 

/* Cor dos títulos e parágrafos */
h2, p {
  color: rgb(255, 97, 86);
}

/* Estilo básico dos botões */
button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background: #fd5347;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

/* Efeito hover no botão */
button:hover {
  background: #19caca;
}

.resultado {
  color: rgb(19, 19, 19);
  /* opcional: para melhor legibilidade */
  text-shadow: 1px 1px 2px black;
}

